@use "../utils/variable.scss" as v;

// Bouton violet en dégradé :

.button-purple {
    width: 218px;
    height: 50px;
    border-radius: 25px;
    background: v.$button-purple-color;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    border: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
        &:hover{
            background:v.$button-purple-color2;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.7);
        }
   
}    

// Rectangle gris:

.rectangle-gray {
    width: 90%;
    height: 72px;
    border-radius: 20px;
    background-color: v.$light-gray-color;
    box-shadow: 0px 4px 15px 0px #00000026;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    @media (min-width: 990px) {
        width: 25%;
  }
    // Pastille ronde avec le numéro:
        &__number {
    position: absolute;
    left:2%;
    border-radius: 50%;
    background-color: v.$primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 24px;
    height: 24px;
    @media (min-width: 990px){
        position: relative;
        left: -8%;
  }
}
    // Texte dans le rectangle :
        &__text {
    width: 177.2px;
    color: black;
    font-weight: 500;
    font-size: 16px;
} 
    // Concernant les icone:
        &__i {
    color: v.$gray-third-color;
    margin-right: 5%;
    padding: 0px;
    width: 16px;
    height: 16px;
}
// Couleur de l'icone "store":
    & .fa-store {
        color: v.$primary-color;
}
}

.all-gray-rectangle {
        @media (min-width: 990px){
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2.5%;
       
  }
}