// Conportement des images dans les cartes:

.card img {
    object-fit: cover;
    height: 70%;
    width: 100%;
    border-radius:20px 20px 0px 0px ;
}

// Texte contenu dans les cartes:

.restaurants h2 {
    margin-left: 10px;
}

h3 {
    margin-bottom: 5px;
}

.card-content {
    margin-left: 15px;
}

// En ce qui concerne les cartes:


.card {
    margin: 10px;
    background-color: white;
    display:flex;
    flex-direction: column;
    border-radius: 20px;
    height: 251px;
    text-decoration: none;
    color: black;
}
