@use "../utils/variable.scss" as v;

// En ce qui concerne les cartes des restaurants pages d'accueil::::::::::::::::::::::::::::::::::::::::::

.card {
    margin: 20px;
    margin-bottom: 0px;
    padding-left: 0px;
    background-color: white;
    display:flex;
    flex-direction: column;
    border-radius: 20px;
    height: 265px;
    width: 90%;
    text-decoration: none;
    color: black;
    @media (min-width: 767px) {
        height: 265px;
        width: 70%;
        position: relative;
    }
    @media (min-width: 1024px){
        width: 40%;
        height: 280px;
        position: relative;
    }
// Concernant le contenu:
        &__card-content {
         margin-left: 15px;
}
// Concernant le texte:
        &_card-text {
            width: 70%;
        }
// Au sujet du titre:
        & h3 {
        margin-bottom: 5px;
}
// Au sujet du sous-titre:
        &__card-subtitle {
        font-weight: 300;
        font-size: 17px;
        line-height: 20px;
}       
// Conportement des images dans les cartes:
        & img {
         object-fit: cover;
         height: 70%;
         width: 100%;
         border-radius:20px 20px 0px 0px ;
}
// Icônes "coeur" dans les cartes de la page d'accueil:
            & .fa-heart {
         width: 25px;
         height: 25px;
         font-size: 1.5em;
         position: absolute;
         left: 85%;
         margin-top: -40px;
         @media (min-width: 767px){
            left: 90%;
         }
         @media (min-width: 1024px){
            margin-left: 1%;
        }
} 
}

// Icône "coeur" plein des cartes:

 .heart__full {
    opacity: 0;
    z-index: 1;
    background-image: v.$button-purple-color;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

// Post-it "Nouveau" des deux premières cartes retaurants:

.New {
    font-weight: 500;
    font-size: 14px;
    line-height: 16.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: v.$green-color;
    width: 80px;
    height: 29px;
    border-radius: 2px;
    background-color: v.$third-color;
    position: absolute;
    left: 68%;
    margin-top: 15px;
    @media (min-width: 767px){
        left:80%;
        position: absolute;
     }
    @media (min-width: 1024px){
        position: absolute;
        left: 75%;
    }
}

// En ce qui concerne les cartes des menus des restaurants:::::::::::::::::::::::::::::::::::::::::::::::::

.new-card {
    width: 90%;
    height: 69px;
    border-radius: 15px;
    background-color: white;
    color: black;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    @media (min-width: 1024px) {
        width: 120%;
    }
// Concernant le contenu:
        &__card-content {
            margin: 0px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
// Concernant le titre:
        &__card-title {
            margin: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;        
        }
// Concernant le sous-titre:
        &__card-subtitle {
            margin: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
// Au sujet du prix:
        &__euro {
            margin-bottom: 10px;
            margin-left: auto;
            margin-right: 7px;
            display: flex;
            align-items: flex-end;
        }
// Au sujet de la coche qui apparait au survol:
        &__i{
            color:white;
            display: flex;
            flex-shrink: 0;
            justify-content: right;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 30px;
            padding-left: 45px;
            padding-right: 15px;
            margin-left: 5px;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            background:  v.$third-color;
            width: 25px;
            height: 25px;
            font-size: 1.5em;
            margin-right: -4.1rem;
// Animation de la coche qui apparait au sruvol:
            transition: all 1500ms;
        }
    &:hover { .new-card__i {
        margin-right: 0rem;
        } 
    }
}

// Comportement du l'icône "coeur" dans la page des restaurants:

.hearts i {
    width: 25px;
    height: 25px;
    font-size: 1.5em;
    position: absolute;
    left: 87%;
    margin-top: -50px;
    @media (min-width: 1024px){
    margin-left: -20%;
    margin-top: -50px;
    }
}