@use "../utils/variable.scss" as v;


// Titre de la section restaurant:

.restaurants h2 {
    margin-left: 10px;
    margin-bottom: 0px;
}

// En ce qui concerne les cartes des restaurant pages d'accueil:

.card {
    margin: 20px;
    margin-bottom: 0px;
    background-color: white;
    display:flex;
    flex-direction: column;
    border-radius: 20px;
    height: 251px;
    text-decoration: none;
    color: black;
        &__card-content {
         margin-left: 15px;
}
        &_card-text {
            width: 70%;
        }
        & h3 {
        margin-bottom: 5px;
}
        &__card-subtitle {
        font-weight: 300;
        font-size: 17px;
        line-height: 20px;
}
}

// Icone coeur:

.card i {
    width: 25px;
    height: 25px;
    font-size: 1.5em;
    position: absolute;
    left: 80%;
    margin-top: -40px;
}


 .heart__full {
    opacity: 0;
    z-index: 1;
    background-image: v.$button-purple-color;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

// Post-it "Nouveau"

.New {
    font-weight: 500;
    font-size: 14px;
    line-height: 16.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: v.$green-color;
    width: 80px;
    height: 29px;
    border-radius: 2px;
    background-color: v.$light-green-color;
    position: absolute;
    left: 68%;
    margin-top: 15px;
}

// En ce qui concerne les cartes des menus des restaurants:

.new-card {
    width: 90%;
    height: 70%;
    border-radius: 15px;
    background-color: white;
        &__card-content{
                margin: 10px;
        }
        &__card-subtitle {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                
        }
}