@use "../utils/variable.scss" as v;


// Animation du "page laoder":

.loader {
    height: 100vh;
    width: 100%;
    position: absolute;
    opacity: 0.9;
    background-color: v.$light-gray-color;
    z-index: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
// Caractéristiques de l'animation du "page laoder":
    animation: wai 3s;
    animation-fill-mode: both;
    transition: 3s ease-in-out;
        &__name {
            font-family:'Shrikhand' ;
            color: v.$primary-color;
            font-size: 35px;
        }
}       

// Keyframes pour l'animation du "page loader"

@keyframes wai {
    80% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

// Les "m" du "page loader":

 .m {
    font-family:'Shrikhand' ;
    color: v.$primary-color;
    font-size: 30px;
    @media (min-width: 767px){
        font-size: 80px;
    }
    @media (min-width: 1024px){
        font-size: 100px;
    }
// Caractéristiques de l'animation:
    animation: waiting 3s linear;
}

// Keyframes pour l'animation des "m":

@keyframes waiting {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.9;
    }
}

// Enchaînement des apparitions des "m" dans l'animation:

.m:nth-child(1) {
    animation-delay: 0.1s;
}
.m:nth-child(2) {
    animation-delay: 0.2s;
}
.m:nth-child(3) {
    animation-delay: 0.3s;
}
.m:nth-child(4) {
    animation-delay: 0.4s;
}
.m:nth-child(5) {
    animation-delay: 0.5s;
}
.m:nth-child(6) {
    animation-delay: 0.6s;
}
.m:nth-child(7) {
    animation-delay: 0.7s;
}
.m:nth-child(8) {
    animation-delay: 0.8s;
}
.m:nth-child(9) {
    animation-delay: 0.9s;
}


// Animation de l'icone coeur des cartes lors de son survol:

.heart__full {
    &:hover {
            animation: fill-up 800ms;
            animation-fill-mode: forwards;
}
}

// Keyframes pour le remplissage du coeur:

@keyframes fill-up {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0.2;
    }
    40% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.6;
    }
    80% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

// Keyframes pour la progression d'apparition des menus:

@keyframes appearance {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0.2;
    }
    40% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.6;
    }
    80% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

// Keyframes pour le mode d'apparition des menus:

@keyframes presence {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

// Keyframes pour le temps de décalage d'apparition des menus:

.starters {
    animation: appearance 1s;
    animation: presence 1.5s;
}

.dishes {
    animation: appearance 2s;
    animation: presence 3s;
}

.desserts {
    animation: appearance 3s;
    animation: presence 4s;
}

// Les annimations au survol des boutons pourpres ainsi que l'apparition des coches pour les cartes concernant les menus des retaurants sont dans le CSS général de ces éléments (components: _boutons , _cards).