@use "../utils/variable.scss" as v;

// Généralités concernant le main-container de la page d'accueil:

.main-container {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    background-color: white;
    box-sizing: border-box;
}

// Généralités concernant le main-container de la page d'accueil:

.new-main-container {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    background-color: v.$light-gray-color;
    box-sizing: border-box;
}

// Police d'écriture du site (+ taille...):

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

// Police des logos et des textes :

.Info-Bar h1, h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.like-a-logo {
    font-family: 'Shrikhand';
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;

}

h1 {
    font-family: "Shrikhand";
    font-weight: 400;
    font-size: 28px;
    line-height: 41px;
}

// Background section "restaurants":

.restaurants {
    background-color: v.$light-gray-color;
    width: 100%;
    margin: 0px;
    padding-bottom: 60px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

// Conportement des images dans les cartes:

.card img {
    object-fit: cover;
    height: 70%;
    width: 100%;
    border-radius:20px 20px 0px 0px ;
}

// Comportement des images dans la page du restaurant:

.image img {
    object-fit: cover;
    margin-left: 0px;
    margin-right: 0px;
    height: 200px;
    width: 100%;
}

.all-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

