.main-container {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  background-color: white;
  box-sizing: border-box;
}

.new-main-container {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  background-color: #F6F6F6;
  box-sizing: border-box;
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.Info-Bar h1, h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.like-a-logo {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

h1 {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 28px;
  line-height: 41px;
}

.restaurants {
  background-color: #F6F6F6;
  width: 100%;
  margin: 0px;
  padding-bottom: 60px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.card img {
  object-fit: cover;
  height: 70%;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.image img {
  object-fit: cover;
  margin-left: 0px;
  margin-right: 0px;
  height: 200px;
  width: 100%;
}

.all-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.restaurants h2 {
  margin-left: 10px;
  margin-bottom: 0px;
}

.card {
  margin: 20px;
  margin-bottom: 0px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  height: 251px;
  text-decoration: none;
  color: black;
}
.card__card-content {
  margin-left: 15px;
}
.card_card-text {
  width: 70%;
}
.card h3 {
  margin-bottom: 5px;
}
.card__card-subtitle {
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
}

.card i {
  width: 25px;
  height: 25px;
  font-size: 1.5em;
  position: absolute;
  left: 80%;
  margin-top: -40px;
}

.heart__full {
  opacity: 0;
  z-index: 1;
  background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.New {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #008766;
  width: 80px;
  height: 29px;
  border-radius: 2px;
  background-color: #99E2D0;
  position: absolute;
  left: 68%;
  margin-top: 15px;
}

.new-card {
  width: 90%;
  height: 70%;
  border-radius: 15px;
  background-color: white;
}
.new-card__card-content {
  margin: 10px;
}
.new-card__card-subtitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.all-footers {
  background-color: #353535;
}

.all-footers h4, .all-footers a, .all-footers li {
  text-decoration: none;
  list-style: none;
  color: white;
  padding-left: 5px;
  margin-bottom: 10px;
}

.all-footers i {
  width: 14px;
  height: 16px;
}

.without-i {
  margin-left: -10px;
}

.like-a-logo {
  margin-left: 35px;
}

.all-headers {
  height: 63px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.all-headers img {
  width: 162px;
  height: 44px;
  margin-top: 15px;
}
.all-headers i {
  visibility: hidden;
  width: 17px;
  height: 16px;
  color: #353535;
  position: absolute;
  left: 7%;
  margin-top: 25px;
}

.Localisation-Bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #EAEAEA;
}

.fa-location-dot {
  margin: 20px;
}

.Info-Bar .title {
  text-align: center;
  margin-top: 40px;
  width: 70%;
}

.Info-Bar p {
  text-align: center;
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}

.Info-Bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  height: 320px;
}

.functioning h2 {
  margin-left: 10px;
  margin-top: 45px;
  margin-bottom: 30px;
}

.all-gray-rectangle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-purple {
  width: 218px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.button-purple:hover {
  background: linear-gradient(193.33deg, #ae80e5 -11.44%, #fface8 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.7);
}

.rectangle-gray {
  width: 322px;
  height: 72px;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.rectangle-gray__number {
  transform: translate(-230%);
  border-radius: 50%;
  background-color: #9356DC;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 24px;
  height: 24px;
}
.rectangle-gray__text {
  width: 177.2px;
  color: black;
  font-weight: 500;
  font-size: 16px;
}
.rectangle-gray__i {
  color: #7E7E7E;
  margin-right: 5%;
  padding: 0px;
  width: 16px;
  height: 16px;
}
.rectangle-gray .fa-store {
  color: #9356DC;
}

.loader {
  height: 100vh;
  width: 100%;
  position: absolute;
  opacity: 0.9;
  background-color: #F6F6F6;
  z-index: 1;
  animation: wai 3s;
  animation-fill-mode: both;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 3s ease-in-out;
}
.loader__name {
  font-family: "Shrikhand";
  color: #9356DC;
  font-size: 35px;
}

@keyframes wai {
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.m {
  font-family: "Shrikhand";
  color: #9356DC;
  font-size: 35px;
  animation: waiting 3s linear infinite;
}

@keyframes waiting {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}
.m:nth-child(1) {
  animation-delay: 0.1s;
}

.m:nth-child(2) {
  animation-delay: 0.2s;
}

.m:nth-child(3) {
  animation-delay: 0.3s;
}

.m:nth-child(4) {
  animation-delay: 0.4s;
}

.m:nth-child(5) {
  animation-delay: 0.5s;
}

.m:nth-child(6) {
  animation-delay: 0.6s;
}

.m:nth-child(7) {
  animation-delay: 0.7s;
}

.m:nth-child(8) {
  animation-delay: 0.8s;
}

.m:nth-child(9) {
  animation-delay: 0.9s;
}

.m:nth-child(10) {
  animation-delay: 1s;
}

.m:nth-child(11) {
  animation-delay: 1.1s;
}

.m:nth-child(12) {
  animation-delay: 1.2s;
}

.heart__full:hover {
  animation: fill-up 2000ms;
  animation-fill-mode: forwards;
  animation-timing-function: 1;
}

@keyframes fill-up {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
