@use "../utils/variable.scss" as v;

// Au sujet du footer:

.all-footers {
    background-color: v.$anthracite-color;
}

// En ce qui concerne les textes:

.all-footers  h4, .all-footers a, .all-footers li {
    text-decoration: none;
    list-style: none;
    color: white;
    padding-left: 5px;
    margin-bottom: 10px;
}


.all-footers {
    &__without-i {
         margin-left: -10px;
    @media (min-width: 990px){
        margin: 5px;
    }
    }
    @media (min-width: 990px){
    &__with-i {
        margin-left: 5px;
    }
    }
    & i {
        width: 14px;
        height: 16px;
    @media (min-width: 990px){
        margin: 5px;
    }
    }
    @media (min-width: 990px){
    &__i {
        display:flex;
        flex-direction: row;
        margin-right: 50px;
    }
    }
    @media (min-width: 990px) {
    &__ul {
        margin-right: 30%;
        width: 100%;
    }
    }
}



.like-a-logo {
    margin-left: 35px;
    @media (min-width: 990px) {
        position:absolute;
        left: 77%;
        padding-bottom: 20px;
    }
}

.all-footers, ul {
    @media (min-width: 990px) {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: last baseline;
        // gap: 16px;
        height: 114px;

    }
}