@use "../utils/variable.scss" as v;

// En ce qui concerne le header:

.all-headers {
  height: 63px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // Au sujet du logo:
  & img {
    width: 162px;
    height: 44px;
    margin-top: 15px;
  }
// Au sujet du l'icône "flèche" des pages restauarant pour retourner à la page d'accueil:
     & i {
      width: 17px;
      height: 16px;
      color : v.$anthracite-color;
      font-size: 20px;
      position: absolute;
      left: 7%;
      margin-top: -5px;
}
}

    
