@use "../utils/variable.scss" as v;

// En ce qui concerne le header:

.all-headers {
     height: 63px;
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
}

.all-headers img {
     width: 162px;
     height: 44px;
     margin-top: 20px;
}

.fa-arrow-left {
     visibility: hidden;
}